body {
  margin: 10px auto;
  width: 1090px;
  background-color: #f4f4f4;
}

/* ------- product card info ------- */

.product-card-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 25px;
}

/* ------------------------------- */


/* ------- root slider info -------*/

.root-slider-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.thumb-slider-container {
  /* width: 65px; */
}

.thumb-slider {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, auto);
  justify-items: center;
}

.main-slider-container {
  position: relative;
  height: 620px;
  margin: 0 auto;
}

.main-slider-carousel-track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main-slider-carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 620px;
  height: 100%;
  position: relative;
}

.main-slider-carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.main-img {
  padding: 0;
  margin: 0 auto;
  width: 620px;
  border-radius: 7px;
}

.thumb-img {
  margin-bottom: 20px;
  width: 120px;
  border-radius: 7px;
}

.carousel-button {
  position: absolute;
  font-size: 40px;
  color: rgb(173, 173, 173);
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel-b-previous {
  left: 37px;
}

.carousel-b-next {
  right: 37px;
}

/* ------------------------------ */


/* ------ card contents info ------*/

.card-contents-container {

}

.card-contents {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(auto, auto);
}

/* top */
.card-contents-top-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card-contents-review {
  justify-self: right;
}

.card-contents-title {
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 0;
}

.card-contents-price {
  margin-bottom: 19px;
  padding: 0;
}

.card-contents-color {
  margin-bottom: 5px;
  padding: 0;
}

/* swatches */
.card-contents-swatch-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  /* border-spacing: 2.2em; */
}

.card-contents-swatch {
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  padding: 5px;
}

.swatch {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  justify-self: center;
  transition-duration: 1s;
  cursor: pointer;
}
